@import helper._
@import services.Login;
@import services.Products;
@import services.Stock;
@(prod:ArrayList[Products],stock:ArrayList[Stock],st:Stock)
@header()
  <!-- Left side column. contains the logo and sidebar -->
@multisidebar()

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
   
    <section class="content container-fluid">
    <!-- Main content -->

      <!--------------------------
        | Your Page Content Here |
        
        -------------------------->
    
 
        <div class="row">
        <div class="col-xs-6">
         <div class="box box-info">
          <div class="box-body">
              <div class="box-header with-border">
                  <h3 class="box-title">Add product</h3>
                  <p>@flash().get("message")</p>
                </div>
              
    <form action="/addproduct" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="productcode" placeholder="Product Code">
        
      </div>
      
      <div class="dropdown">
      <select class="form-control select2" name ="value" style="width: 100%;" placeholder="">
        @for(stk <- stock){
        <option value="@stk.getStockid()">@stk.getStockid()</option>
        }
         </select>
      </div>
      <label>Stock id</label>
      <div class="form-group has-feedback">
        <input type="number" class="form-control" name="buyingprice" placeholder="Buying price">
       
      </div>
      <div class="form-group has-feedback">
        <input type="number" class="form-control" name="sellingprice" placeholder= "Selling Price">
       
      </div>
      <div class="form-group has-feedback">
        <input type="number" readonly value="@session().get("userid")" class="form-control" name="addedby" placeholder= "AddedBy">
         
      </div>
      <div class="row">
        
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Add</button>
        </div>
      </form>
        <!-- /.col -->
      </div>
      </div>
      </div>
      <div class="col-xs-6">
          <div class="box box-info">
              <div class="box-body">
         
              <section class="content-header">
                  <h3>
                    Added Products 
                   
                  </h3>
                 
                </section>
           <div class="box-body">
             <table id="example2" class="table table-bordered table-hover">
      <thead>
      <th> Code</th>
       <th>Name</th>
       <th>Buying Price</th>
       <th>Selling price</th>
       <th>Delete</th>
       <th>Edit</th>
       </thead>
       <tbody>
          <tr>
            @for(prod <- prod){
              <td>@prod.getProductcode()</td><td>@prod.getName()</td><td>@prod.getBuyingprice()</td>
              <td>@prod.getSellingprice()</td>
              <td><a href="/deleteproduct/@prod.getProductcode()/@prod.getName()"> delete</a></td>
              <td><a href="/editproduct/@prod.getProductcode()/@prod.getName()/@prod.getBuyingprice()/@prod.getSellingprice()">Edit</a></td>
       </tr>
      }
       </tbody>     
       </table>
       </div>
      
       </div>
     </div>                 
    </div>
  
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
     
    </div>
    <!-- Default to the left -->
    <strong>SUpa shop &copy; 2018 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
<!-- Bootstrap 3.3.7 -->
<script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.versioned("dist/js/adminlte.min.js")"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>