@import helper._
@import services.Login;
@import services.Stock;
@(stok:ArrayList[Stock])
@header()
@multisidebar()
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
   
    <section class="content container-fluid">
    <!-- Main content -->

      <!--------------------------
        | Your Page Content Here |
        
        -------------------------->
    
 
        <div class="row">
        <div class="col-xs-5">
         <div class="box box-info">
          <div class="box-body">
              <div class="box-header with-border">
                  <h3 class="box-title">Stock</h3>
                  <p>@flash().get("message")</p>
                </div>     
    <form action="/addstock" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="stockid" placeholder="Stock Code">
        
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="productcode" placeholder="Productcode">
       
        <div class="form-group has-feedback">
         <input type="number" class="form-control" name="amountinstock" placeholder="amount">
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="status" Value= "Available">
    </div>
    <div class="dropdown">
      
  
  </div>
          <button type="submit" class="btn btn-primary btn-block btn-flat">Add</button>
        </div>
      </form>
        <!-- /.col -->
      </div>
      </div>
      </div>
      <div class="col-xs-7">
          <div class="box box-info">
              <div class="box-body">
              <section class="content-header">
                  <h3>
                    Added Stock 
                   
                  </h3>
                 
                </section>
           <div class="box-body">
             <table id="example2" class="table table-bordered table-hover">
      <thead>
      <th> Stockid</th>
       <th>Productcode</th>
       <th>Amountin stock</th>
       <th>Status</th>
       <th>Edit</th>
       <th>Delete</th>
       </thead>
       <tbody>
          <tr>
            @for(stok <- stok){
              <td>@stok.getStockid()</td><td>@stok.getProductcode()</td><td>@stok.getAmountinstock()</td>
              <td>@stok.getStatus()</td><td><a href="/editstock/@stok.getStockid()/@stok.getProductcode()/@stok.getAmountinstock()">edit</a></td>
              <td><a href="/deletestock/@stok.getStockid()/@stok.getProductcode()/@stok.getAmountinstock()">delete</a></td>
       </tr>
      }
       </tbody>     
       </table>
       </div>
      
       </div>
     </div>                 
    </div>
  </div>
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
     
    </div>
    <!-- Default to the left -->
    <strong>SUpa shop &copy; 2018 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
<!-- Bootstrap 3.3.7 -->
<script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.versioned("dist/js/adminlte.min.js")"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>