@import helper._
@import services.Login;
@import services.Users;
@(user:ArrayList[Users])
@header()
  <!-- Left side column. contains the logo and sidebar -->
@multisidebar()

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       
      </h1>
      
      
    </section>
    <section class="content container-fluid">
    <!-- Main content -->
    
      <!--------------------------
        | Your Page Content Here |
        
        -------------------------->
        <div class="row">
           
        <div class="col-xs-6">
        <div class="box box-info">
         <div class="box-body">
             <div class="box-header with-border">
                 <h3 class="box-title">Add user</h3>
                 <p>@flash().get("message")</p>
               </div>
    <form action="/adduser" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="name" value="Full Name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" name="userName" value="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" value="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <label>Role</label>
      <div class="dropdown">
          <select class="form-control select2" name = "role" style="width: 100%;">
      
         <option role="Admin">Admin</option>
         <option role="seller">Seller</option>
         <option role="Manager">Manager</option>
       </select>
      
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
           
    <a href="/login" class="text-center">I already have a membership</a>
  </div>   
        <!-- /.col -->
      </div>
    </form>
  </div>
</div>
</div>
<div class="col-xs-6">
  <div class="box box-info">
    <div class="box-body">
  <div class="box-header with-border">
    <h3 class="box-title">Add user</h3>
    <p>@flash().get("message")</p>
  </div>
 <div class="box-body">
   <table id="example2" class="table table-bordered table-hover">
<thead>
<th> User Id</th>
<th>Name</th>
<th>Username</th>
<th>Role</th>
<th>Edit</th>
<th>Delete</th>
</thead>
<tbody>
<tr>
  @for(user <-user){
    <td>@user.getId()</td><td>@user.getName()</td><td>@user.getUsername()</td><td>@user.getRole()</td>
    <td><a href="/edituser/@user.getId()/@user.getUsername()/@user.getRole()">edit</a></td>
    <td><a href="/deleteuser/@user.getId()/@user.getUsername()/@user.getRole()">delete</a></td>
  </tr>
}
</tbody>     
</table>

</div>
</div>
</div>
</div>
</div>
</div>


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      
    </div>
    <!-- Default to the left -->
    <strong>Supa shop &copy; 2018 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
<!-- Bootstrap 3.3.7 -->
<script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.versioned("dist/js/adminlte.min.js")"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>