@()<nav>
      
      <ul class="sidebar-menu" data-widget="tree">
          <li class="header">MAIN NAVIGATION</li>
          <!-- Optionally, you can add icons to the links -->
          <li class="active"> <a href="/managerr"><span>Home</span></a></li>   
              <li class="active"><a href="/adduser">Register user</a></li>
              <li class="active"><a href="/addproduct">Add Product</a></li>
              <li class="active"><a href="/addsupplier">Add Supplier</a></li>
              <li class="active"><a href="/allproducts">Make a sell</a></li>
                    </ul>
    
          
        </ul>              
        </nav>      
              
         