@import helper._
@import services.Products;
@import services.Users;
@import services.Login;
@(prod:ArrayList[Products],pr:Products,pro:ArrayList[Products])
@header()
@multisidebar()

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
          All Products Tables
         
        </h1>
       
      </section>

    <!-- Main content -->
    <section class="content ">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="row">
            <div class="col-xs-6">
                <div class="box box-info">                                                                                           
                <div class="box-header">
                  <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                      <input type="text" name="q" class="form-control" placeholder="Search...">
                      <span class="input-group-btn">
                          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                          </button>
                        </span>
                    </div>
                  </form>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th> Code</th>
                      <th>Name</th>
                      <th>Selling price</th>
                      <th>sell</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                       @for(prod <-prod){
                      <td>@prod.getProductcode()</td><td>@prod.getName()</td><td>@prod.getSellingprice()</td>
                     
                      <td><a href="/selling/@prod.getProductcode()/@prod.getName()/@prod.getSellingprice()">Addcart</a></td>

                     
                    </tr>
                  }
                    </tbody>
                    </table>
                    </div>
                  
                  </div>
                </div>
                  <div class="col-xs-6"> 
                    <p>My cart</p>
                    <div class="box box-info">
                        
                              <div class="box-body">
                                  <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <p> Order no- @session().get("selltime")</p>
                                    <tr>
                                      <th> Code</th>
                                      <th>Name</th>
                                      <th>selling Price</th>
                                      <th>Quantity</th>
                                      <th>Total</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                             @for(pro <-pro){
                                            <td>@pro.getProductcode()</td><td>@pro.getName()</td><td>@pro.getSellingprice()</td>
                                            <td>@pro.getQuantity</td> <td>@pro.getTotal</td>
                                             </tr>
                                            }
                                            
                             </tbody>
                            </table>
                            <div class="pull-left">TOTAL:@pr.getTotalcost() </div>
                            <div class="pull-right"><a href="/neworder">Paid</a> </div> 
                            </div> 
                            
                               
                          </div>                
                            </div>
                            </div>  
                      
                  </div>
                  </div>
                
                </div>  
                  
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
     
    </div>
    <!-- Default to the left -->
    <strong>Supa shop &copy; 2018 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
<!-- Bootstrap 3.3.7 -->
<script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.versioned("dist/js/adminlte.min.js")"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
     <script>
        $(function () {
          $('#example1').DataTable()
          $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
          })
        })
      </script>
</body>
</html>