@import helper._
@import services.Login;
@import services.Stock;
@(stok:ArrayList[Stock],stock:ArrayList[Stock])
@header()
@multisidebar()
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
   
    <section class="content container-fluid">
    <!-- Main content -->

      <!--------------------------
        | Your Page Content Here |
        
        -------------------------->
        <div class="row">
          <div class="col-xs-7">
            <div class="box">
              <div class="box-header">
                <form action="#" method="get" class="sidebar-form">
                  <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                        </button>
                      </span>
                  </div>
                </form>
              </div>
              <!-- /.box-header -->

           <div class="box-body">
             <table id="example2" class="table table-bordered table-hover">
      <thead>
        <p>All stock table</p>
      <th> Stockid</th>
       <th>Productcode</th>
       <th>Amountin stock</th>
       <th>Status</th>
       <th>Edit</th>
       <th>Delete</th>
       </thead>
       <tbody>
          <tr>
            @for(stok <- stok){
              <td>@stok.getStockid()</td><td>@stok.getProductcode()</td><td>@stok.getAmountinstock()</td><td>@stok.getStatus()</td>
                  <td><a href="/editstock/@stok.getStockid()/@stok.getProductcode()/@stok.getAmountinstock()">edit</a></td>
                  <td><a href="/deletestock/@stok.getStockid()/@stok.getProductcode()/@stok.getAmountinstock()">delete</a></td>
                
                

       </tr>
      }
       </tbody>     
       </table>
      </div>
       </div>                      
       </div>  
       <div class="col-xs-5">
        <div class="box"> 
       <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
  <thead>
      <p>Out of stock products</p>
  <th> Stockid</th>
  <th>Productcode</th>
  <th>Status</th>

  </thead>  
  <tbody>
    <tr>
      @for(stock <- stock){
        <td>@stock.getStockid()</td><td>@stock.getProductcode()</td><td>out of stock</td>
            
          

 </tr>
}
 </tbody>     
 </table>            
      </div>
      </div>
      </div>     
     </div> 
    </div>
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
     
    </div>
    <!-- Default to the left -->
    <strong>SUpa shop &copy; 2018 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
<!-- Bootstrap 3.3.7 -->
<script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.versioned("dist/js/adminlte.min.js")"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>