@import helper._
@import services.Stock;
@import services.Login;
@(stok:Stock,stock:ArrayList[Stock])
@header()
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="/managerr"><i class="fa fa-link"></i> <span>HOME</span></a></li>
       
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>REGISTER</span>
           
          </a>
        
            <li class="active"><a href="/adduser">Register user</a></li>
            <li class="active"><a href="/addproduct">Add Product</a></li>
            <li class="active"><a href="/addsupplier">Add Supplier</a></li>
        
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
   

    <!-- Main content -->
  
      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="row">
            <div class="col-xs-7">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Delete product</h3>
                  <p>@flash().get("message")</p>
                </div>
                <!-- /.box-header -->
                <form action="/deletestock/@stok.getStockid()/@stok.getProductcode()/@stok.getAmountinstock()" method="POST">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="name" class="col-sm-2 control-label">Stk Code</label>
    
                      <div class="col-sm-10">
                        <input type="tex" class="form-control" name="stockid" value="@stok.getStockid()">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="no" class="col-sm-2 control-label">prd code</label>
    
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="productcode"  value="@stok.getProductcode()">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="no" class="col-sm-2 control-label">Amount</label>
    
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="amountinstock"  value="@stok.getAmountinstock()">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">cancel</button>
                    <button type="submit" class="btn btn-info pull-right">delete</button>
                  </div>
                  <!-- /.box-footer -->
                </form>
                  </div>
                  </div>
                    
                  <div class="col-xs-5">
                    <div class="box">
                        <section class="content-header">
                            <h3>
                              Added Stock 
                             
                            </h3>
                           
                          </section>
                     <div class="box-body">
                       <table id="example2" class="table table-bordered table-hover">
                <thead>
                <th> Stockid</th>
                 <th>Productcode</th>
                 <th>Amountin stock</th>
                 <th>Status</th>
                 </thead>
                 <tbody>
                    <tr>
                      @for(stock <- stock){
                        <td>@stock.getStockid()</td><td>@stock.getProductcode()</td><td>@stock.getAmountinstock()</td>
                        <td>@stock.getStatus()</td>
                 </tr>
                }
                 </tbody>     
                 </table>
                 </div>
                
                 </div>
                  </div>
                </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
     
    </div>
    <!-- Default to the left -->
    <strong>Supa shop &copy; 2018 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
<!-- Bootstrap 3.3.7 -->
<script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.versioned("dist/js/adminlte.min.js")"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
     <script>
        $(function () {
          $('#example1').DataTable()
          $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
          })
        })
      </script>
</body>
</html>