@()

   <nav>
      <ul class="sidebar-menu" data-widget="tree">
          <li class="header">MAIN NAVIGATION</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="/home"> <span>HOME</span></a></li>
        <li class="active"><a href="/allproducts"><span>All Products</span></a></li>
        <li class="active"><a href="/allproducts"><span>Make sale</span></a></li>
        <li class="active"><a href="/adduser"><span>Register user</span></a></li>
        <li class="active"><a href="/addproduct">Restock</a></li>
        <li class="active"><a href="/addsupplier">Add supplier</a></li>
        <li class="active"><a href="/addstock">Register stock</a></li>
        <li class="active"><a href="/allstock"><span>All stock</span></a></li>
        <li class="active"><a href="/salesreport"><span>Sales Report</span></a></li>
      </ul>
      </nav>