<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
      <div class="user-panel">
          <div class="pull-left image">
            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>  @session().get("name") </p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
 <!-- /.search form -->
 
      <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
     
        <!-- Optionally, you can add icons to the links -->
      @if(session().get("role").equals("admin")) {
        @adminpage()
      }else {
        @if(session().get("role").equals("manager")) {
          @manager()
        }else{
        @others()
        }
          }
    </ul>
      <!-- /.sidebar-menu -->
  </section>
    <!-- /.sidebar -->
</aside>