@()

      <nav>
      <ul class="sidebar-menu" data-widget="tree">
          <li class="header">MAIN NAVIGATION</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="/managerr"><span>HOME</span></a></li>
      
        <li class="active"><a href="allproducts"><span>Make a Sell</span></a></li>
        
            <li class="active"><a href="/"></a></li>
            <li class="active"><a href="/"></a></li>
            <li class="active"><a href="/"></a></li>
      
      </ul>
  </nav>