@import services.Todaysale;
@import services.Users;
@import services.Stock;
@import services.Products;
@import services.Daysale;
@import services.OrderList;
@(todaysale:ArrayList[Daysale],day:Daysale,tod:Todaysale,user:ArrayList[Users],stock:Stock,product:Products,us:Users,od:ArrayList[OrderList])
@header()
  <!-- Left side column. contains the logo and sidebar -->
  @multisidebar()

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      
        Supa Duka
          @if(flash().get("message")!=null) {
            <h2>@flash().get("message")!!!!!</h2>
          }
      </h1>
     
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>@tod.getCount()</h3>

                <p>monthly Sale Number</p>
              </div>
              <div class="icon">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>@day.getTotal()<sup style="font-size: 20px"></sup></h3>

                <p>monthly Sale Value</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>@product.getCount()</h3>

                <p>All Products</p>
              </div>
              <div class="icon">
                  <i class="ion ion-bag"></i>
              </div>
              <a href="/soldproducts" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3>@stock.getCount()</h3>

                <p>Stock out</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/allstock" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Monthly Sales
                    <div class="row">
                        <form action="/salesreport" method="post">
                        <div class="col-md-6">
                  <div class="dropdown">
                    <select class="form-control select2" name = "role" style="width: 100%;">
                   <option role="January">0</option>
                   <option role="February">1</option>
                   <option role="Maarch">2</option>
                   <option role="April">3</option>
                   <option role="May">4</option>
                   <option role="June">5</option>
                   <option role="July">6</option>
                   <option role="August">7</option>
                   <option role="September">8</option>
                   <option role="October">9</option>
                   <option role="November">10</option>
                   <option role="December">11</option>
                 </select>
              
               </div>
               </div>
               <div class="col-md-6">
               <div class="dropdown">
                  <select class="form-control select2" name = "year" style="width: 100%;">
                 <option year="1">2017</option>
                 <option year="2">2018</option>
                 <option year="3">2019</option>
                 <option year="4">2020</option>
                 <option year="5">2021</option>
               </select>
              </div>
               <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">submit</button>
               </div>
               
           
             </div>
            </form>
             </div>
                </h3>
              
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-wrench"></i></button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <p class="text-center">
                      <strong>Sales: @tod.getOrder_date()</strong>
                    </p>
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                        
                      <tr>
                        <th> Order No</th>
                        <th>Seller Id</th>
                        <th>Seller Name</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                               @for(todaysale <-todaysale){
                              <td><a href="/eachordermonthly/@todaysale.getId()/@todaysale.getName()"</a>@todaysale.getId()</td><td>@todaysale.getOrder_seller_id()</td><td>@todaysale.getName()</td>
                             
                               </tr>
                              }
                              
               </tbody>
              </table>
              
                    <div class="chart">
                      <!-- Sales Chart Canvas -->
                      <canvas id="salesChart" style="height: 180px;"></canvas>
                      
                    </div>
                    <!-- /.chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-6">
                    <p class="text-center">
                      <strong>Sales Team</strong>
                    </p>
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                      <th> Seller Id</th>
                      <th>Name</th>
                      <th>Sell count</th>
                      
                      </thead>
                      <tbody>
                      <tr>
                        @for(user <-user){
                          <td>@user.getId()</td><td>@user.getName()</td><td><a href="/eachsalemonthly/@user.getId()/@user.getName()"</a>@user.getSellercount()</td>
                      </tr>
                      }
                      </tbody>     
                      </table>
                
                    <!-- /.progress-group -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./box-body -->
              <div class="box-footer">
                <div class="row">
                  <div class="col-sm-4 col-xs-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                      <h5 class="description-header">KSh.@day.getTotal()</h5>
                      <span class="description-text">TOTAL REVENUE</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 col-xs-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                      <h5 class="description-header">KSh.@day.getCost()</h5>
                      <span class="description-text">TOTAL COST</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 col-xs-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                      <h5 class="description-header">Ksh.@day.getProfit()</h5>
                      <span class="description-text">TOTAL PROFIT</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->

                </div>
                <!-- /.row -->
              </div>
              <!-- /.box-footer -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      
    </div>
    <!-- Default to the left -->
    <strong>Supa shop &copy; 2018 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
<!-- Bootstrap 3.3.7 -->
<script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.versioned("dist/js/adminlte.min.js")"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
