@import helper._
@import services.Products;
@import services.Users;
@(prod:ArrayList[Products], us:Users,pr:Products)
@header()
@multisidebar()
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
   

    <!-- Main content -->
  
      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="row">
            <div class="col-xs-6">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Sell product</h3>
                  <p>@flash().get("message")</p>
                  <p>@flash().get("outofstock")</p>
                </div>
                <!-- /.box-header -->
                
                <form action="/selling/@pr.getProductcode()/@pr.getName()/@pr.getSellingprice()" method="POST">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="name" class="col-sm-2 control-label"> Code</label>
    
                      <div class="col-sm-10">
                        <input type="tex" class="form-control" readonly name="productcode" value="@pr.getProductcode()">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="no" class="col-sm-2 control-label"> Name</label>
    
                      <div class="col-sm-10">
                        <input type="text" class="form-control" readonly name="name"  value="@pr.getName()">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="no" class="col-sm-2 control-label">Price</label>
    
                      <div class="col-sm-10">
                        <input type="text" class="form-control"  name="sellingprice"  value="@pr.getSellingprice()">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="no" class="col-sm-2 control-label">Qty</label>
    
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="quantity"  value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Cancel</button> 
                    <button type="submit" class="btn btn-info pull-right">Addto cart</button>
                  
                  </div>
                  <!-- /.box-footer -->
                </form>
                  </div>
                
                  
                 
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="box">
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                              <thead>
                              <tr>
                                <th> Code</th>
                                <th>Name</th>
                                <th>selling Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                       @for(prod <-prod){
                                      <td>@prod.getProductcode()</td><td>@prod.getName()</td><td>@prod.getSellingprice()</td>
                                      <td>@prod.getQuantity</td> <td>@prod.getTotal</td>
                                       </tr>
                                      }
                                      <td>TOTAL:@pr.getTotalcost()</td>
                       </tbody>
                      </table>
                      </div>                    
                      </div>
                      </div>
                  
                   
                     </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  

  <!-- Control Sidebar -->
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
<!-- Bootstrap 3.3.7 -->
<script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.versioned("dist/js/adminlte.min.js")"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
     <script>
        $(function () {
          $('#example1').DataTable()
          $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
          })
        })
      </script>
</body>
</html>