@import helper._
@import services.Products;
@import services.Login;
@(pro:ArrayList[Products])
@header()
@multisidebar()
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
          All Products Tables
         
        </h1>
       
      </section>

    <!-- Main content -->
    <section class="content ">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">All Products Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                       
                    <tr>
                      <th> Code</th>
                      <th>Name</th>
                      <th>selling Price</th>
                      
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                             @for(pro <-pro){
                            <td>@pro.getProductcode()</td><td>@pro.getName()</td><td>@pro.getSellingprice()</td>
                            
                             </tr>
                            }
                            
             </tbody>
            </table>
                    </div>
                  </div>
                  </div>
                  </div>
                  
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
    
    </div>
    <!-- Default to the left -->
    <strong>Supa shop &copy; 2018 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
<!-- Bootstrap 3.3.7 -->
<script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.versioned("dist/js/adminlte.min.js")"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
     <script>
        $(function () {
          $('#example1').DataTable()
          $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
          })
        })
      </script>
</body>
</html>